#messages {
    width: 100%;
    position:absolute;
    top: 2%;
    right: 0;
    z-index: 2;
}

#loading {
    margin: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 20%;
    border: 2px solid black;
    font-weight: 700;
    border: 3px;
    margin-top: 0.5%;
}
